.header{
        background: url(img/1.jpeg) no-repeat center;
        background-size: cover;
        min-height: 40vh;
        

        .navbar {
            background-color: transparent !important;
          }

.nav-link{
    
    font-size: 20px;
}



.dropdown-menu{
    background-color: transparent !important;
}
    
.img-logo{
    height: 100px;
}

.title__header{
    padding-left: 20px;
    text-shadow: 1px 1px 1px rgb(12, 12, 12);
}

.description__header{
    padding-left: 30px;
    color: rgb(255, 255, 255);
text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);

}

}






