/*portafolio*/
/* about */

.about-img{
    background: url(img/renders/render1.jpg) center/cover no-repeat;
    min-height: 500px;
}
.about-text .btn{
    border-color: #FF8C00;
}
.about-text .btn:hover{
    background-color: #FF8C00;
}

/* features */
.features-img{
    background: url(img/renders/render2.jpg) center/cover no-repeat;
    min-height: 500px;
}
.features-text .line{
    background-color: #FFD700;
}
.features-text .title h3{
    color: #FFD700
}
.features-text .btn{
    border-color: #FF8C00;
}
.features-text .btn:hover{
    background-color: #FF8C00;
}

/* studio */
.studio-img{
    background: url(img/renders/render3.jpg) center/cover no-repeat;
    min-height: 500px;
}
.studio-text .line{
    background-color: #FFD700;
}
.studio-text .title h3{
    color: #FFD700;
}
.studio-text .btn{
    border-color: #FF8C00;
}
.studio-text .btn:hover{
    background-color: #FF8C00;
}
