/*portafolio*/
/* about */
.about-img{
    background: url(img/renders/render1.jpg) center/cover no-repeat;
    min-height: 500px;
}
.about-text .btn{
    border-color: var(--orange);
}
.about-text .btn:hover{
    background-color: var(--orange);
}

/* features */
.features-img{
    background: url(img/renders/render2.jpg) center/cover no-repeat;
    min-height: 500px;
}
.features-text .line{
    background-color: var(--blue);
}
.features-text .title h3{
    color: var(--blue);
}
.features-text .btn{
    border-color: var(--blue);
}
.features-text .btn:hover{
    background-color: var(--blue);
}

/* studio */
.studio-img{
    background: url(img/renders/render3.jpg) center/cover no-repeat;
    min-height: 500px;
}
.studio-text .line{
    background-color: var(--yellow);
}
.studio-text .title h3{
    color: var(--yellow);
}
.studio-text .btn{
    border-color: var(--yellow);
}
.studio-text .btn:hover{
    background-color: var(--yellow);
}
