/* trabajos */

.imagen{
    max-width: 100%;
}

.galery{
    width: 100%;
    height: 300px;
}

.description__proyectos{
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0); 

}

.title__proyectos{
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
}